// Global Foundation Settings
// @import "settings";


// Comment out this import if you are customizing you imports below
@import "../bower_components/foundation/scss/foundation";

body{

}

.side-bar{
  background: #fafafa;
  padding-top:20px;
  li{
    padding-left:20px;
  }
}

.row{
  margin-left: 30px;
}

.test-item{
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  font-family: monospace;
}

.test-item:nth-child(even){
  background-color: #fafafa;
}

.test-header{
  padding-bottom: 10px;
}

.contents{
  padding-top:20px;
}

.raw-error{
  margin-top:20px;
}

.panel.callout{
    background: rgba(240, 83, 115, 0.15);
    border-color: rgba(0, 0, 0, 0.17);
}

.top-bar-section{
  ul.right{
    li{
      width:150px;
    }
  }
}