Test suite Ht1Tests: RUNNING...
[TEST] TestFixtures:targetMatches (src/tests/TestFixtures.hs:15)
+++ OK (0ms)

[TEST] TestFixtures:isBuyableFalse (src/tests/TestFixtures.hs:18)
assertEqual failed at src/tests/TestFixtures.hs:18
* expected: False
* but got: True
* diff:
F Fals
S Tru
C e<......>C
*** Failed! (81ms)

[TEST] TestFixtures:updateCart (src/tests/TestFixtures.hs:21)
+++ OK (0ms)

[TEST] TestFixtures:mapAllItems (src/tests/TestFixtures.hs:27)
+++ OK (0ms)

[TEST] TestFixtures:mapAllItems2 (src/tests/TestFixtures.hs:43)
+++ OK (0ms)

[TEST] TestFixtures:getNth_at_element (src/tests/TestFixtures.hs:59)
+++ OK (0ms)

[TEST] TestFixtures:getNth_one_element_later (src/tests/TestFixtures.hs:63)
+++ OK (0ms)

[TEST] Main:nonEmpty (tests/Tutorial.hs:17)
+++ OK (0ms)

[TEST] Main:empty (tests/Tutorial.hs:19)
+++ OK (0ms)

[TEST] Main:reverse (tests/Tutorial.hs:22)
Passed 100 tests.
+++ OK (16ms)

[TEST] Main:reverseReplay (tests/Tutorial.hs:24)
Passed 100 tests.
+++ OK (5ms)

* Tests:    4
* Passed:   4
* Pending:  0
* Failures: 0
* Errors:   0

Total execution time: 90ms
Test suite Tutorial: PASS
Test suite logged to: dist/test/HTF-0.11.0.1-Tutorial.log
