
<main-nav
        suite="data.suite"
        view-test-type="viewType"
        onSelected="fixtureSelected(fixture)"></main-nav>



<div class="row">
    <div class="small-3 columns">
        <a href="#" ng-click="sort='test.source.fileName'; reverse = !reverse">File Name</a>
    </div>

    <div class="small-3 columns">
        <a href="#" ng-click="sort='test.info.testName'; reverse = !reverse">Test Name</a>
    </div>

    <div class="small-3 columns">
        <a href="#" ng-click="sort='test.status.time'; reverse = !reverse">Duration</a>
    </div>
</div>

<div ng-repeat="entry in data.entries | property:'test.status.pass':testFilterType | orderBy:sort:reverse">
    <test-entry test="entry.test"></test-entry>
</div>